input-toggle
{
  display: inline-block;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

input-toggle > label
{
  cursor: pointer;
}

input-toggle input[type="checkbox"]
{
  display: none;
}

input-toggle input[type="checkbox"] + toggle
{
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  border-radius: 25px;
  margin-right: 5px;
  width: 30px;
  height: 18px;
  border: 1px solid #b2b2b2;
  background-color: #b2b2b2;
  vertical-align: top;
}

input-toggle input[type="checkbox"]:checked + toggle
{
  background-color: #ce3650;
  border-color: #ce3650;
}

input-toggle input[type="checkbox"][default="off"]:checked + toggle
{
  background-color: #38B838;
  border-color: #38B838;
}

input-toggle input[type="checkbox"] + toggle > knob
{
  display: block;
  position: absolute;
  left: 0px;
  box-sizing: border-box;
  border: 1px solid #b2b2b2;
  margin-top: -1px;
  margin-left: -1px;
  width: 18px;
  height: 18px;
  border-radius: inherit;
  background: #ffffff;
  pointer-events: none;
  transition: left 200ms;
}

input-toggle input[type="checkbox"]:checked + toggle > knob
{
  left: 12px;
  border-color: #ce3650;
  margin-right: -1px;
}

input-toggle input[type="checkbox"][default="off"]:checked + toggle > knob
{
  border-color: #38B838;
}
