@font-face
{
  font-family: "flattr-icons";
  src: url("../fonts/flattr-icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.message-box
{
  display: block;
  padding: 10px 15px;
  font-size: 13px;
  border: 1px solid #888;
  border-radius: 3px;
  transition-property: border-color, background-color;
  transition-duration: 200ms;
}

.message-box > h2
{
  display: flex;
  margin: 0;
  font-size: 1.1em;
}

.message-box > h2 > *
{
  cursor: pointer;
}

.message-box > h2 > span
{
  flex-grow: 1;
}

.message-box > h2 > button
{
  border: none;
  font-weight: inherit;
  color: inherit;
  background: none;
  cursor: inherit;
  transition-property: color, transform;
  transition-duration: 200ms;
}

.message-box > h2 > button::after
{
  font-family: flattr-icons;
  content: "\e60d"; /* icon-caret */
}

.message-box > h2:hover > button
{
  color: #1AA3D4;;
}

.message-box[collapsed]
{
  border-color: #F2F2F2;
  background-color: #F2F2F2;
}

.message-box:not([collapsed]) > h2 > button
{
  transform: scaleY(-1);
}

.message-box[collapsed] > p
{
  display: none;
}

.message-box > p:last-child
{
  margin-bottom: 0;
}

.message-box a
{
  text-decoration: underline;
}
